<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Playlist Analyzer</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Spotify Playlist Analyzer</h1>
  <p>Выберите период для просмотра статистики:</p>
  <button onclick="window.location.href='/stats/short_term'">За неделю</button>
  <button onclick="window.location.href='/stats/medium_term'">За месяц</button>
  <button onclick="window.location.href='/stats/long_term'">За год</button>
</body>
</html>